# Ignore the Migrations folder
Migrations/

# Ignore image files
*.jpg
*.jpeg
*.png

# Ignore build output folders
bin/
obj/

# Ignore user-specific files
.vs/
.idea/
*.user
*.userosscache
*.suo

# Ignore config files for Visual Studio Code
.vscode/

# Ignore appsettings secrets
appsettings.Development.json
